<div class="well">

<img src="../images/IMG_5467.JPG" class="aboutImage" />
<h2 class="headabout">All about me</h2>
<p>I grew up gardening alongside my environmentally minded mother and grandmother. Always loving the outdoors and valuing hard work, I got my first job at 14 on a small farm in Concord, Massachusetts. For the next seven years, I farmed at&nbsp;<a href="http://www.brighamfarmconcord.com/" target="_blank">Brigham Farm</a> in the summers, worked with various landscape companies, and did some independent gardening. &nbsp;I graduated from&nbsp;<a href="http://www.sterlingcollege.edu/" target="_blank">Sterling College in Vermont</a> with a two-year Resource Management degree in 1992 and slowly went on to get an Outdoor Education degree from the&nbsp;<a href="https://www.bdic.umass.edu/" target="_blank">UMass Amherst</a>&nbsp;in 2000. I spent the next few years trying to find my place in the world, and in 2004 opened Ground Work, an environmentally friendly landscape company. My husband, Adam joined me in 2007 and we grew the company together for the next five years. In 2012 we decided it would be better for our marriage and family if we were to have separate careers and we closed the business. Adam went on to manage the maintenance division of&nbsp;<a href="http://www.envconst.com/" target="_blank">Environmental Construction, Inc.</a>&nbsp;in Kirkland, WA&nbsp;and I started managing and revitalizing the garden center at the&nbsp;<a href="http://www.countrystoreandfarm.com/" target="_blank">Country Store and Farm</a>&nbsp;&nbsp;on Vashon, WA. &nbsp;After a year at the Country Store it was clear that I would be better able to fulfill my personal goals and my desire to see environmental change if I were to head out on my own again (and {{#link-to 'hereIam'}}here I am!{{/link-to}}).</p>
<p>Finally, the answer to everyone's most pressing question, "What does the OLCP after your name mean?" &nbsp;It means I'm an Oregon Tilth accredited Organic Land Care Practitioner. &nbsp;I became certified through an intensive and illuminating course offered at Seattle Tilth in partnership with Oregon Tilth. &nbsp;We learned a tremendous amount about how to choose the right plants for all, saving water, growing beautiful edible gardens, creating pollinator pathways, ecologically restoring damaged areas, using organic and responsible pest and weed control, creating closed systems (few products in, little to no waste out), and what organic land care looks like on an institutional level) &nbsp;In order to maintain&nbsp;accreditation I need to keep up on some level of coursework, meaning I stay current in the science of sustainability in the landscape. I sure hope to get a chance to pass that knowledge off to you!</p>

<p><strong>Specialties:</strong>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-asterisk"></i>Habitat Restoration – build soil and restore native habitat on disturbed sites to recreate a healthy and vibrant ecosystem.</li>
    <li><i class="fa-li fa fa-asterisk"></i>Permaculture – use tenets of permaculture including huglekultur for habitat restoration, ornamental, and/or edible landscapes and food forests.</li>
    <li><i class="fa-li fa fa-asterisk"></i>Xeriscape – Design with a drought tolerant plant pallet and prepare soil for minimal water use during our dry season.</li>
    <li><i class="fa-li fa fa-asterisk"></i>Edibles – Design a beautiful landscape that can feed you and your family healthy and organic food throughout the year.</li>
    <li><i class="fa-li fa fa-asterisk"></i>Natives – Design a beautiful landscape that can nurture the local wildlife.</li>
    <li><i class="fa-li fa fa-asterisk"></i>Low maintenance – Design a landscape that does not require much input (materials, water, pest and weed control, or time) or create much waste.</li>
    <li><i class="fa-li fa fa-asterisk"></i>Closed systems – Use mostly materials reused from your own property to create the landscape you desire.</li>
  </ul>
</p>
</div>
