<div class="well">
  <h2>Here I am!</h2>
  <p>  Hello and welcome to my site.  I will be using this mainly as a business blog, though will also be blogging about personal gardening, nonprofit work, and other sustainability issues as I feel might interest you.  Before any of that, though, let me tell you a little about my business (you can see a write-up about me and my experience in my profile description).  Early this year I decided it was time to refocus on my passions after a brief hiatus managing the garden center at the Country Store and Farm.  On March 1 I finalized my plans and decided to be:</p>

<strong><p><em>Sue Day, OLCP <i>(Organic Land Care Provider accredited by Oregon Tilth)</i>
Earth Stewardship and Design</em></p></strong>

<p><strong>Mission:</strong>  Through design, education, and action, Earth Stewardship and Design helps individuals, families, and organizations achieve the landscape they desire with minimal impact on surrounding ecosystems.</p>

<p><strong>What I do:</strong>
  <ul class="fa-ul">
      <li><i class="fa-li fa fa-asterisk"></i>Consultation – walk your property with you, teaching about what you have, how to take care of it, and what you can do with it.  Often resulting in a simple list of priorities, instructions, and next steps.</li>
      <li><i class="fa-li fa fa-asterisk"></i>Education – Come to your property and educate you on how to do what you would like to accomplish in a sustainable way.  I will educate people on anything in my areas of expertise including: design, soil improvement, native habitat restoration, permaculture, plant identification and care, and pruning.</li>
      <li><i class="fa-li fa fa-asterisk"></i>Plan and Design – create a sustainable and low-maintenance design for your property with plant and material lists and a work plan that meets your desired budget and time-frame.</li>
      <li><i class="fa-li fa fa-asterisk"></i>Small projects – design and install small gardens, rain gardens and swales, water catchment, and compost systems.</li>
      <li><i class="fa-li fa fa-asterisk"></i>Maintenance – maintain garden beds and natural areas, including invasive control, weeding, planting as needed, and small pruning.</li>
      <li><i class="fa-li fa fa-asterisk"></i>Oversight – Oversee workers and projects on your property.</li>
  </ul>
</p>
</div>
