<div class="well">

<script src="/flexslider/js/flexScript.js"></script>
  <!-- <noscript>
		<div class="nojs">Javascript must be enabled for the correct page display.</div>
	</noscript> -->
	<div id="container">
		<h2>Welcome to Earth Stewardship & Design</h2>

		<div class="flexslider">
			<ul class="slides">
				<li>
					<img src="flexslider/images/flex1.jpg" alt="low maitenance planting" />
					<div class="flex-caption">
						<h3>Low Maintenance Planting</h3>
						<p class="slide-caption">I can design a garden for you that will be low maitenance! This means less water and weeding.</p>
					</div>
				</li>
				<li>
					{{#link-to 'portfolio'}}<img src="flexslider/images/planters.jpg" alt="planters" />{{/link-to}}
					<div class="flex-caption">
						<h3>Planters</h3>
						<p class="slide-caption">Beautiful planters</p>
					</div>
				</li>
				<li>
					<img src="flexslider/images/flex3.jpg" alt="plans and drawings" />
					<div class="flex-caption">
						<h3>Plans</h3>
						<p class="slide-caption">Here you will find some of the plans that I have drawn up.</p>
					</div>
				</li>
				<li>
					<img src="flexslider/images/waterfeature.jpg" alt="water feature"/>
					<div class="flex-caption">
						<h3>Water Features</h3>
						<p class="slide-caption">Water features.</p>
					</div>
				</li>
			</ul>
	  </div>
	</div>
	<span id="responsiveFlag"></span>
	&nbsp;
	<div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Consultation</h2>
              <p> Walk your property with you, teaching about what you have, how to take care of it, and what you can do with it.  Often resulting in a simple list of priorities, instructions, and next steps. </p>
              <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Blog</h2>
              <p>Visit my blog for information about ways for you to be more sustainable with the resources you use everyday, ie..{{#link-to "watering"}}Watering{{/link-to}}. </p>
              <p><a class="btn btn-default" href="http://earthstewarddesigns.blogspot.com/" role="button" target="_blank">View details »</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Small Projects</h2>
              <p>Design and install small gardens, rain gardens and swales, water catchment, and compost systems.</p>
              <p>{{#link-to 'hereIam' class="btn btn-default" role="button"}}View details »{{/link-to}}</p>
            </div><!--/span-->
  </div>
</div>
