
<div class="well">
    <script>
    $(".open_fancybox1").click(function() {

        $.fancybox.open([
          {
            href : '../images/planters/image01.jpg',
            title : ''
          }, {
            href : '../images/planters/image02.jpg',
            title : ''
          }, {
            href : '../images/planters/image03.jpg',
            title : ''
          },{
            href : '../images/planters/image04.jpg',
            title : ''
          },{
            href : '../images/planters/image05.jpg',
            title : ''
          },{
            href : '../images/planters/image06.jpg',
            title : ''
          },{
            href : '../images/planters/image07.jpg',
            title : ''
          },{
            href : '../images/planters/image08.jpg',
            title : ''
          },{
            href : '../images/planters/image09.jpg',
            title : ''
          },{
            href : '../images/planters/image10.jpg',
            title : ''
          },{
            href : '../images/planters/image11.jpg',
            title : ''
          },{
            href : '../images/planters/image12.jpg',
            title : ''
          },{
            href : '../images/planters/image13.jpg',
            title : ''
          },{
            href : '../images/planters/image14.jpg',
            title : ''
          },{
            href : '../images/planters/image15.jpg',
            title : ''
          },{
            href : '../images/planters/image16.jpg',
            title : ''
          },{
            href : '../images/planters/image17.jpg',
            title : ''
          },{
            href : '../images/planters/image18.jpg',
            title : ''
          },{
            href : '../images/planters/image19.jpg',
            title : ''
          },{
            href : '../images/planters/image20.jpg',
            title : ''
          }
        ],
         {
            nextEffect : 'none',
            prevEffect : 'none',
            padding    : 0,
            helpers    : {
                title : {
                    type: 'over'
                },
                thumbs : {
                    width  : 75,
                    height : 50,
                    source : function( item ) {
                        return item.href.replace('_b.jpg', '_s.jpg');
                    }
                }
            }
        });

        return false;
    });
    </script>
    <a class="open_fancybox1" href=""><img src="../images/planters/image14thumbnail.jpg" alt=""/><p class="button">These are some of my planter designs.</p></a>

    <script>
    $(".open_fancybox2").click(function() {

        $.fancybox.open([
          {
            href : '../images/jarcho/image-1.jpg',
            title : ''
          }, {
            href : '../images/jarcho/image-2.jpg',
            title : ''
          }, {
            href : '../images/jarcho/image-3.jpg',
            title : ''
          },{
            href : '../images/jarcho/image-4.jpg',
            title : ''
          },{
            href : '../images/jarcho/image-5.jpg',
            title : ''
          },{
            href : '../images/jarcho/image-6.jpg',
            title : ''
          },{
            href : '../images/jarcho/image-7.jpg',
            title : ''
          },{
            href : '../images/jarcho/image-8.jpg',
            title : ''
          },{
            href : '../images/jarcho/image-9.jpg',
            title : ''
          },{
            href : '../images/jarcho/image-10.jpg',
            title : ''
          },{
            href : '../images/jarcho/image-11.jpg',
            title : ''
          },{
            href : '../images/jarcho/image-12.jpg',
            title : ''
          },{
            href : '../images/jarcho/image-13.jpg',
            title : ''
          }
        ],
         {
            nextEffect : 'none',
            prevEffect : 'none',
            padding    : 0,
            helpers    : {
                title : {
                    type: 'over'
                },
                thumbs : {
                    width  : 75,
                    height : 50,
                    source : function( item ) {
                        return item.href.replace('_b.jpg', '_s.jpg');
                    }
                }
            }
        });

        return false;
    });
    </script>
    <a class="open_fancybox2" href=""><img src="../images/jarcho/image-8Thumb.jpg" alt=""/><p class="button">Jarcho Project</p></a>

    <script>
    $(".open_fancybox3").click(function() {

        $.fancybox.open([
          {
            href : '../images/goodman/01.jpg',
            title : ''
          }, {
            href : '../images/goodman/02.jpg',
            title : ''
          }, {
            href : '../images/goodman/03.jpg',
            title : ''
          },{
            href : '../images/goodman/04.jpg',
            title : ''
          },{
            href : '../images/goodman/05.jpg',
            title : ''
          },{
            href : '../images/goodman/06.jpg',
            title : ''
          },{
            href : '../images/goodman/07.jpg',
            title : ''
          },{
            href : '../images/goodman/08.jpg',
            title : ''
          },{
            href : '../images/goodman/10.jpg',
            title : ''
          },{
            href : '../images/goodman/11.jpg',
            title : ''
          },{
            href : '../images/goodman/12.jpg',
            title : ''
          },{
            href : '../images/goodman/13.jpg',
            title : ''
          },{
            href : '../images/goodman/14.jpg',
            title : ''
          },{
            href : '../images/goodman/15.jpg',
            title : ''
          },{
            href : '../images/goodman/16.jpg',
            title : ''
          },{
            href : '../images/goodman/17.jpg',
            title : ''
          },{
            href : '../images/goodman/18.jpg',
            title : ''
          }
        ],
         {
            nextEffect : 'none',
            prevEffect : 'none',
            padding    : 0,
            helpers    : {
                title : {
                    type: 'over'
                },
                thumbs : {
                    width  : 75,
                    height : 50,
                    source : function( item ) {
                        return item.href.replace('_b.jpg', '_s.jpg');
                    }
                }
            }
        });

        return false;
    });
    </script>
    <a class="open_fancybox3" href="open_fancybox3"><img src="../images/goodman/20thumbnail.jpg" alt=""/><p class="button">Goodman Project</p></a>

</div>
