<div class="well">
<h1>Watering Wisely</h1>
<img src="../images/blog/water/hose.jpg" class="blogImages" />
<p>It's wet here in the Pacific Northwest, right?  Well yes, but not all the time, and not as wet as some might think.  Many folks who don't live in the Pacific Northwest often wonder why water conservation and drought tolerance are such large issues here.  What people (both near and far) don't realize is that we actually don't get that much rain.  Seattle's average yearly rainfall is only about 38".  That's less than Boston and even Houston!  Not only do we not actually get all that much rain, but we get almost all of that rain from October through May.  June-September are notoriously dry, usually with less than 5 of those 38 inches of rain falling for the entire 4 month span.  So, how do we keep our plants alive?  See below for some smart watering tips that will help you both keep your plants alive AND conserve water.</p>

  <h3>Steps for Smart Watering</h3>
  <ul>
  <li>Soil - First of all, you need to figure out what kind of soil you have.  Clay and glacial till will require much less water than sand and gravel.  Once you know this you can both plan for your watering and work on building your soil.  More to come on soil building in a later post.</li>
  <li>Plant grouping - Group plants with similar needs together.  Think of water needs as well as sun and wind exposure.</li>
  <li>Mulch and/or plant thickly - Organic matter does the best job of holding water and preventing evaporation, but gravel will also do the trick in some situations.  One of the major tenets of sustainable gardening is, "there's no such thing as bare soil in nature (except on beaches and in deserts)." NOTE: If you are going to water with soaker hoses, it's best to bury them underneath the mulch if possible.</li>
  <li>Water only when needed - Unless it has rained more than one inch in the past week, it's important to keep an eye on your garden soil.  In gardens with plants that require moderate moisture (most vegetable gardens and annual beds as well as some perennial beds and trees), water as soon as the top few inches of soil are dry.  The rule of thumb for a lawn is it requires about 1/2"-1" of water per week in the hottest months to stay green.  However, there are more accurate assessments of water needs than that.  If the grass gets a grey or blue tint to it and footprints remain for longer than usual, it's time to water the lawn.</li>
  <li>and finally, HOW to water - The main rule of watering is water as deeply and infrequently as possible.  This is very difficult to do on a steep slope or in a compressed lawn (more on special watering situations in a later post).
            <ul>
              <li>For standard garden beds with minimal slope- water for a set amount of time (15-30 minutes).  One hour after watering, check to make sure the water has penetrated 8-10 inches down.  If not, increase your watering time and try again.  Once you figure out a good watering time for that particular area, try to write it down somewhere so you can remember it later.</li>
              <li>For healthy lawns - Firstly, please remember that most lawns will be just fine if allowed to go dormant in the summer.  If you must have a green lawn in the dry season, put a tin can out when you turn on the sprinkler.  Make sure to position it in the place that gets the least water (usually off in the farthest corner).  Turn the water on and leave it until there's 1/2" of water in the can.  On a healthy lawn that is mowed with a mulching mower, this should be plenty of water to keep it looking green and lush.</li>
            </ul>
      </li>
  </ul>
  <br>
  <p>Well, that's it for basic watering.  I hope I covered everything for you.  Future water-related blog posts will cover designing your gardens for water conservation, rainwater harvesting, and watering in tough situations.  If you still have questions, have special situations that need addressing, or would like to suggest topics for future blog posts, feel free to email me at earthstewarddesigns@gmail.com.</p>
</div>
